%div
  %h1 お知らせ

  %a{ href: new_announcement_path } 新規作成

  %table
    %thead
      %th お知らせ内容
      %th リンクURL
      %th 状態
      %th 作成日時
      %th 更新日時
      %th

    %tbody
      - @announcements.each do |announcement|
        %tr
          %td= announcement.content
          %td= announcement.link_url
          %td= announcement.debug? ? 'デバッグデータ（非公開）' : '公開済み'
          %td= announcement.created_at
          %td= announcement.updated_at
          %td
            %a{ href: edit_announcement_path(announcement) } 編集
