%div
  %h1 Qiita記事

  %a{ href: new_qiita_post_path } 新規作成

  %table
    %thead
      %th タイトル
      %th 記事URL
      %th サムネイルURL
      %th カテゴリ
      %th 作成日時
      %th 更新日時
      %th 公開日時
      %th

    %tbody
      - @qiita_posts.each do |qiita_post|
        %tr
          %td= qiita_post.title
          %td= qiita_post.url
          %td= qiita_post.thumbnail_url
          %td= qiita_post.category
          %td= qiita_post.created_at
          %td= qiita_post.updated_at
          %td= qiita_post.published_at
          %td
            %a{ href: edit_qiita_post_path(qiita_post) } 編集
